PROXY_PORT=8080
REPO_PORT=8081
CACHE_DIR=data/cache
ENABLE_HTTPS_PROXY=true
HTTPS_MITM_DOMAINS=repo1.maven.org,repo.maven.apache.org
HTTPS_PASSTHROUGH_FOR_UNMATCHED=true
MULTI_THREAD_DOMAINS=repo1.maven.org
MULTI_THREAD_COUNT=4
MULTI_THREAD_MIN_SIZE_BYTES=1048576
DOWNLOAD_TIMEOUT_MS=60000
UPSTREAM_PROXY_URL=
UPSTREAM_HTTP_PROXY_URL=
UPSTREAM_HTTPS_PROXY_URL=
UPSTREAM_NO_PROXY=127.0.0.1,localhost
UPSTREAM_IGNORE_DOMAINS=*.acb.com
CERT_DIR=data/certs
ROOT_CERT_PATH=data/certs/root-ca.crt
ROOT_KEY_PATH=data/certs/root-ca.key.pem
LEAF_CERT_DIR=data/certs/leaf
TRUST_STORE_PATH=data/certs/proxy-truststore.jks
TRUST_STORE_ALIAS=maven-proxy-root-ca
TRUST_STORE_PASSWORD=changeit
JAVA_HOME=
